<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        .container {
            width: 80%;
            margin: auto;
            border: 1px solid #ccc;
            padding: 20px;
            background-color: #f9f9f9;
        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

        .hospital-name {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .patient-details {
            margin-bottom: 20px;
        }

        .button-container {
            text-align: center;
            margin-top: 20px;
        }

        .button-container button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Lifeline Healthcare Pvt Ltd</h1>
            <h3>Lifeline Tealth Trust</h3>
            <p>Rathbari, Malda, West Bengal-732101, India</p>

        </div>
        <div class="hospital-name">
            <h4>OPD Patient Card</h4>
        </div>
        <div class="patient-details">
            <p><strong>Name:</strong>
                <%= patient.name %>
            </p>
            <p><strong>Age:</strong>
                <%= patient.age %>
            </p>
            <p><strong>Gender:</strong>
                <%= patient.gender %>
            </p>
            <p><strong>Doctor:</strong>
                <%= patient.doctor %>
            </p>
            <p><strong>Visit Date:</strong>
                <%= appointmentDate %>
            </p>
        </div>
        <div class="button-container">
            <button onclick="window.print()">Print</button>
            <button onclick="downloadPage('<%= patientId %>')">Download</button>
        </div>
    </div>
    <script>
        function downloadPage(patientId) {
            window.location.href = `/patient/appointment/${patientId}/download-pdf`;
        }
    </script>
</body>

</html>